<section id="Contacto"> <!-- Inicio contacto-->
    <div class="c-contacto">
    <h1 class="h1-contactame">Contactame!</h1>
    <h2 class="h2-contactame">Email: juanurman@gmail.com</h2>
    <div class="div-github">
        <img src="./images/logos/icons8-github-50.png" alt=""><h2 class="h2-contactame"><a href="https://github.com/juanurman" class="github">Github: https://github.com/juanurman</a> </h2>
    </div>
    <div class="div-linkedin">
    <img src="./images/logos/icons8-linkedin-50.png" alt=""><h2 class="h2-contactame"><a href="https://www.linkedin.com/in/juan-urman-098b73251/" class="Linkedin">Linkedin</a></h2>
    </div>
    <h2 class="h2-contactame">Teléfono: 11-5970-77890</h2>
    <h2 class="h2-contactame">Instagram: juan_urman</h2>  
</div>
</section> <!-- Fin contacto-->
</main>