<header> <!-- Inicio header-->
    <nav>
        <div clas="header">
            <ul class="lista">
                <li><a href="#" class="links" id="Juan-Urman" >Juan Urman</a></li>
                <li><a href="#id-section-sobre-mi" class="links"id="Sobre-mi">Sobre mí</a></li>
                <li><a href="#id-section-proyectos" class="links"id="Mis-Proyectos">Mis proyectos</a></li>
                <li><a href="#Contacto" class="links" id="Contacto-id">Contacto</a></li>
            </ul>
        </div>
    </nav>
</header> <!-- Fin header-->