<section id="id-section-proyectos"> <!--Inicio Proyectos-->
    <div class="c-h2-proyectos"> 
        <h2>Proyectos</h2>
    </div>
    <section class="s-cards">
        <div class="c-cards">
            <div class="c-funkoshop">
                <h4 class="c-h4-funkoshop">Funko Shop</h4>
                <a href="https://github.com/mercedesmiquelez/challenge_miquelez" class="c-a-cards">
                <card class="cartas" ><img src="./images/proyectos/Proyecto_FunkoShop/Home-1.png" alt="proyecto1" class="c-foto-proyecto"></card>
                </a>
                <div class="c-logos-proyecto-funkoshop">
                    <img src=".\images\Logos\icons8-html-5-48.png" alt="">
                    <img src=".\images\Logos\icons8-css3-48.png" alt="">
                    <img src=".\images\Logos\icons8-javascript-48.png" alt="">
                    <img src=".\images\Logos\icons8-nodejs-48.png" alt="">
                    <img src=".\images\Logos\icons8-mysql-50.png" alt="">
                </div>
            </div>
        </div>
        <div class="c-cards">
            <a href="https://github.com/juanurman" class="c-a-cards">
            <card class="cartas"><img src="./images/proyectos/proyecto 2.png" alt="proyecto2" class="c-foto-proyecto"></card>
            </a>
        </div>
        <div class="c-cards"> 
            <a href="https://github.com/juanurman" class="c-a-cards">
            <card class="cartas"><img src="./images/proyectos/proyecto 3.png" alt="proyecto3" class="c-foto-proyecto" usemap="#mapa" ></card>
            </a>    
    </div>
    <!-- <div class="c-cards"> 
        <a href="https://github.com/juanurman" class="c-a-cards">
        <card class="cartas"><img src="./images/proyectos/proyecto 3.png" alt="proyecto3" class="c-foto-proyecto" usemap="#mapa" ></card>
        </a>    
    </div> -->
    </section>
</section><!-- Fin proyectos--> 
