<section id="id-section-sobre-mi"> <!-- Inicio sobre mi-->
    <div class="c-c-foto">
        <Picture class="c-foto">
            <img src="./images/Foto_CV.jpeg" alt="" id="foto">
        </Picture>
    </div>
    <div id="id-sobre-mi">
    <h1 id="Id-sobre-mi-h1">Sobre mi</h1>
    <p class="c-sobre-mi-p">Mi nombre es Juan Urman, tengo 19 años y soy estudiante de Ingeniería Informática en la Universidad de Buenos Aires.
        He realizado varios cursos formativos, pero tengo mucho entusiasmo por comenzar a tener experiencia laboral que me permita seguir aprendiendo en simultáneo a un desarrollo laboral</p>
    <br>
        <p class="c-sobre-mi-p">Secundario: Escuela Superior de Comercio Carlos Pellegrini</p>
    <p class="c-sobre-mi-p">Universidad: Ingeniería informatica (En curso)</p>
    <p class="c-sobre-mi-p">Cursos: Full Stack (Node JS)</p>
    <a href="./images/Juan Urman CV.pdf" class="c-curriculum">Curriculum Vitae (CLICK)
    </a>
    </div>
</section> <!-- Fin sobre mi-->