<section  id="s-tecnologias"> <!-- Inicio tecnologias -->
    <div id="tecnologias">
        <h3 class="c-tecnologias">PRINCIPALES TECNOLOGÍAS</h3> 
        <div class="c-conjunto-de-logos">
            <img src="./images/Logos/icons8-python-48.png" alt="Logo de python" class="c-logos">
            <img src="./images/Logos/icons8-javascript-48.png" alt="Logo de js" class="c-logos">
            <img src="./images/Logos/icons8-html-5-48.png" alt="Logo de html"  class="c-logos">
            <img src="./images/Logos/icons8-css3-48.png" alt="Logo de css" class="c-logos">
            <img src="./images/Logos/icons8-nodejs-48.png" alt="Logo de nodejs" class="c-logos">
            <img src="./images/Logos/icons8-mysql-50.png" alt="Logo de Mysql" class="c-logos">
            <img src="./images/Logos/icons8-amazon-web-services-32.png" alt="Logo de AWS" class="c-logos">
        </div>
    </div>
</section>  <!-- Fin tecnologias-->