@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Tauri&display=swap');
html *{
    text-decoration: none;
    padding: 0;
    margin: 0;
    /* font-family:'Raleway', sans-serif; */
    /* font-family:'Sometype Mono', monospace;  */
    /* font-family: 'Libre Franklin', sans-serif; */
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}


/* Header */


.lista{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 15vw;
    list-style-type: none;
    box-sizing: border-box;
    background-color: rgb(24, 24, 24);
    
}
.links{
    color: rgb(255, 255, 255);
    font-size: 1.8vw;
    transition: all .3s ease-in-out;
    }
.links:hover{
    text-decoration: underline 2px;
    font-size: 2vw;
}
/* FIN HEADER */
 

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }


/* TITULO */


#titulo{
    padding-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-left: 20vw;
    margin-bottom: 18vh;
    height: 70vh;


}
#p-titulo{
    /* margin-top: 18vh; */
    color: #fff;  
}
#titulo-h1{
    display: inline;
    font-size: 3.5vw;
}
.typed-cursor{
    /* color: black; */
}
.c-curriculum{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height:  2.5vw;
    background-color: rgb(0, 0, 172);
    color: #fff;
    border-radius: 20px;
    font-size: 1.6vw;
}
#c-p{
    font-size: 1vw;
    color:aqua;
    padding: 1vh 1vh 1vh 0vh;
}
.c-c-foto{
    display: inline;
    width: 50vw;
    height: 50vh;
    text-align: end;
    width: 40vw;
}
#foto{
    width: 50%;
    height: 50vh;
}

/* Tecnologias */


#s-tecnologias{
    position: relative;
    display:block;
    /* margin-top: 23vw; */
    margin-bottom: 20vh;
    
    
}
#tecnologias{
    display: block;
    background-color: #d9d9d9;
    width: 50vw;
    border-radius: 30px;
    text-align: center;
    margin-left: 18vw;
}
.c-tecnologias{
    color: black;
    padding: 5px;

}
.c-logos{
    background-color: rgb(0, 0, 172);
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}
.c-conjunto-de-logos{
    padding: 10px;
}

/* Proyectos */
#id-section-proyectos{
    display: block;
    text-align: center;
    margin-left: 260px;
}
.c-h2-proyectos{
    position:relative;
    font-size: 2em;
    color:rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: left;
}
.s-cards{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-right: 10px;
}

.c-foto-proyecto{
    height: 40vh;
    width: 20vw;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    margin: 2vh;
}
.c-foto-proyecto:hover{
    height: 42vh;
    width: 22vw;
}
.c-h4-funkoshop{
    color: #fff;
    font-size: 1.5em;
    text-align: start;
}
.c-funkoshop{
    display: flex;
    background-color: #2e2e2e;
    border-radius: 10px;
    width: 27vw;
}
.c-logos-proyecto-funkoshop{
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
}
/* Contacto */
#Contacto{
    display: block;
    text-align: center;
    position:static;
    width: 700px;
}
.c-contacto{
    color: #ffff;
    position:static;
    font-size: 1em;
    padding: 10px;  
    width: 83.9%;
    margin-left: 280px;
    margin-top: 350px;
    text-align: left;
}
.github{
    color: #ececec;
}
.Linkedin {
    color: #ececec;
}
.h1-contactame{
    font-size: 2em;
    text-decoration: underline 2px;
}
.h2-contactame{
    padding: 10px;
}
.div-github{
    display: flex;
}
.div-linkedin{
    display: flex;
}
hr{
    max-width: 100%;
    background-color: #fff;
    height: 10px;
    margin-bottom: 100px;
}